*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}

.topBar{
    border-bottom-style: solid;
    background-color: rgb(128, 128, 128);
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left{
    font-size: 30px;
    font-weight: bolder;
    padding-left: 15px;
}

.input-file{
    width: 100%;
    height: 93%;
    margin-bottom: 0px;
    text-justify: auto;
    font-size: 12px;
}

.run-button{
    margin-top: 0px;
    background-color: rgb(7, 154, 29);
    color: white;
    border-style: none;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
}
.run-button:hover{
    background-color: rgb(0, 128, 0);
}
.run-button:active{
    background-color: rgb(0, 102, 0);
}

.right{
    display: flex;
    justify-content: space-evenly;
    column-gap: 25px;
    align-items: center;
    padding-right: 15px;
}

.simulator{
    border-style: solid;
    border-width: 3.5px;
    border-color: gray;
    position: absolute;
    bottom: 10px;
    top: 70px;  
    left: 10px;
    right: 300px;
    box-sizing: border-box;
    border: 1px solid gray;
    
}

.simulator-info{
    border-style: solid;
    border-width: 3.5px;
    border-color: gray;
    position: absolute;
    right: 10px;
    bottom: 10px;
    top: 70px;
    width: 280px;
    box-sizing: border-box;
    border: 1px solid gray;

}

.info-button{
    background-color: rgb(128, 128, 128);
    max-width: 50px;
    max-height: 50px;
    border-style: none;
}

.lk-logo{
    max-width: 50px;
    max-height: 50px;
}

.gh-logo{
    max-width: 40px;
    max-height: 40px;

}

.lk-logo, .gh-logo:hover{
    cursor: pointer;
}

.input{
    width: 600px;
}