
.element{
    background: lightblue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    user-select: none;
}

.electron{
    background: lightblue;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    user-select: none;
    position: absolute;
}

#e1{
    top: 32px;
    left: 104px;
}

#e2{
    top: 32px;
    left: -12px;
}

#e3{
    top: -13px;
    left: 36px;
}

#e4{
    top: 103px;
    left: 36px;
}

#e5{
    top: -13px;
    left: 56px;
}

#e6{
    top: 103px;
    left: 56px;
}

#e7{
    top: 55px;
    left: 104px;
}

#e8{
    top: 55px;
    left: -12px;
}